<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible"
				content="ie=edge">
	<title>Web App</title>
</head>
<body>
<form th:action="@{/}" method="post">
	<label>
		<input type="text" name="text" placeholder="Введите сообщение" />
	</label>
	<label>
		<input type="text" name="tag" placeholder="Тэг" />
	</label>
	<button type="submit">Добавить</button>
</form>
<h1>Список сообщений</h1>
<table>
	<tbody>
	<tr th:each="message : ${messages}">
		<td th:text="${message.tag}"></td>
		<td th:text="${message.text}"></td>
	</tr>
	</tbody>
</table>
<div>
	<button type="submit">Delete all messages</button>
</div>
<!--<div>-->
<!--	Hello, <span th:text="${text}"></span>!-->
<!--</div>-->
</body>
</html>